@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.contentpage {
  flex: 1 0 auto;
}
.stickyfoot {
  flex-shrink: 0;
}

.modal-open .modal, .btn:focus {
    outline: none !important;
}
 
.modal.dark { background-color: #2d3032; }
.modal.dark .modal-body {
  background: #40463b;
}
 
.modal.dark .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
	color: #ccc;
}
 
.modal.dark .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.bkz1 {
  position: absolute;
  top:50%;
  left: 0
}

.bkz2 {
  position: absolute;
  top: 50%;
  right: 0
}

.bkz3 {
  font-family: 'poppins', serif;
  font-size: 32px;
  font-weight: bold;
  padding: 3rem;
  margin: 1rem;
  border-radius: 12px;
  color: white;
  display: block;
  box-shadow: 4px 4px 8px rgba(100,100,150,.5);
  background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2d3032, #ffdd3c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2d3032, #ffdd3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}